<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOKO</title>
</head>
<body>
    <h3 style="padding: 25px;"> Create Toko Baru</h3>
    <form method="POST" enctype="multipart/form-data" style="padding: 25px;">
    {% csrf_token %}

    {{form.as_p}}

    <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    
</body>
</html>