<table class="table">
    <tbody>
    <tr>
        <td> {{toko.nama_toko}}</td>
    </tr>
    <tr>
        <td> {{toko.nama_pemilik}}</td>
    </tr>
    <tr>
        <td> {{toko.alamat}}</td>
    </tr>
    </tbody>
</table>

<div>
    <p>yakin ingin menghapus toko ini?</p>
</div>
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <button class="btn btn-primary" type="submit">Yakin</button>
</form>